@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dosgreen: #66B966;
}

html, body, .main {
    height: 100%;
    width: 100%;
}

.dos-bg {
    /* background-color: var(--dosgreen); */
    background: linear-gradient( 159deg, var(--dosgreen) 0%, rgb(165 252 69) 100%);
}

.dos-return-button {
    margin-left: -192px;
    margin-right: 120px;
}

.mw-label {
    min-width: 130px;
}

.content {
    padding-top: 2rem;
    height: 75%;
}

.mw-75 {
    max-width: 75%;
}

.input-group-text {
    flex-direction: column;
}

/* Syncfusion */

form .e-ddl.e-input-group.e-control-wrapper .e-input {
    font-size: 20px;
    text-align: center;
    height: 100%;
}

form .e-ddl.e-input-group.e-control-wrapper,
form .e-input-group, .e-input-group.e-control-wrapper {
    width: auto !important;
}

form .e-control.e-numerictextbox {
    text-align: center;
    height: 100% !important;
}

/* Blazor Defaults  */

.validation-message {
    color: red;
}

.validation-summary {

}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
